# Databases and large files
db/databases/
db/local_processing/

# Sveltekit
frontend/build
frontend/.svelte-kit
frontend/node_modules/
frontend/.env

# Git stuff
key.txt
.env
taxa.sql
ssh.txt

taxon_backup.dump

venv/
